{{> menu id="about"}}

<section class="ui center aligned middle aligned two columns grid segment">
  <<div class="column">
    <header class="ui header"> Weather App </header>
    <p> Monitor latest weather station readings </p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/fb1a3b80-1071-4ed1-a8ce-54644155faaf%2Fweather-icons.jpg?v=1630148062412">
</section>